.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* MedicationsListStyle.css */

/* Style for the main container of medications list */
.medications-list-big-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fa; /* Light background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the title of medications section */
  .medications-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
  }
  
  /* Style for automatic order container */
  .automatic-order-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Style for automatic order label */
  .automatic-order-title {
    font-size: 18px;
    margin-right: 10px;
  }
  
  /* Style for medication list element container */
  .medication-list-element-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* White background */
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for medication label */
  .medication-label {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Style for medication buttons container */
  .medication-buttons-container {
    display: flex;
    align-items: center;
  }
  
  /* Style for medication info button */
  .medication-info-button {
    background-color: #007bff; /* Blue button */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for medication info button */
  .medication-info-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Style for medication order button */
  .medications-order-button {
    background-color: #28a745; /* Green button */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for medication order button */
  .medications-order-button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  